@import "mixins";

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  line-height: 1.23;
}

.button-link {
  width: 100%;
  font-weight: 500;
  display: block;
  text-align: center;
  max-width: 280px;
  background-color: #b1eb00;
  border: 1px solid #b1eb00;
  padding: 20px 0;
  color: #000;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #000;
    transition: all 0.3s;
  }

  @include on-tablet {
    font-size: 14px;
    max-width: 200px;
    padding: 16px 0;
  }
}
