@import "fonts";
@import "reset";
@import "global";
@import "mixins";

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  padding-top: 62px;

  &__top {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 62px);
  }

  &__flexibility {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 86px;

    @include on-desktop {
      font-size: 18px;
      margin-bottom: 70px;
    }

    @include on-tablet {
      font-size: 16px;
      margin-bottom: 50px;
    }

    @include on-mobile {
      font-size: 14px;
      margin-bottom: 36px;
    }
  }

  &__title {
    font-size: 128px;
    margin-bottom: 40px;

    @include on-desktop {
      font-size: 100px;
    }

    @include on-tablet {
      font-size: 56px;
    }

    @include on-mobile {
      font-size: 42px;
    }
  }

  &__btn {
    margin-bottom: 32px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 26px;

    @include on-desktop {
      font-size: 22px;
    }

    @include on-tablet {
      font-size: 18px;
    }

    @include on-mobile {
      font-size: 16px;
      text-align: center;
    }
  }
}

.menu-first {
  margin-right: 60px;

  &__list {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    gap: 34px;
  }

  &__list-link {
    color: #acacac;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      color: #fff;
    }
  }

  @include on-desktop {
    margin-right: 30px;
  }

  @include on-tablet {
    display: none;
    margin-right: 0;
  }
}

.navigation {
  display: none;

  @include on-tablet {
    display: block;
  }
}

.menu {
  color: white;
  padding: 26px;
  background-color: #000; 
  transition: all 0.3s;
  height: 100vh;
  overflow: auto; 

  &__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
  }

  &__list-item {
    padding-right: 11px;
  }

  &__list-link {
    color: white;
    display: block;
    padding: 10px 0;
    text-decoration: none;
  }

  &__close {
    display: block;
    text-align: right;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 11px;
    padding-bottom: 20px;
  }
}

.burger-btn {
  display: none;

  @include on-tablet {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
}

.page__menu {
	opacity: 0;
	cursor: pointer;
	transition: all 0.3s;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	transform: translate(100%);
}

.page__menu:target {
	display: block;
	opacity: 1;
	transform: translate(0);
}

.logo {
  font-weight: 600;
  font-size: 24px;
  color: #fff;

  @include on-tablet {
    font-size: 20px;
  }

  @include on-mobile {
    font-size: 16px;
  }
}

.columns {
  padding: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  line-height: 1.55;

  .item {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include on-desktop {
    gap: 65px;
  }
}

.cols {
  &__title {
    font-size: 32px;
    margin-bottom: 40px;

    @include on-desktop {
      font-size: 28px;
      margin-bottom: 34px;
    }

    @include on-tablet {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }

  &__sub {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;

    @include on-desktop {
      font-size: 20px;
    }

    @include on-tablet {
      font-size: 18px;
    }

    @include on-mobile {
      font-size: 16px;
    }
  }
}

.footer {
  background-color: #c4c4c4;
  padding: 48px 0px;

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .item {
      max-width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;

      &__title {
        font-size: 22px;

        @include on-tablet {
          font-size: 18px;
        }
      }

      &__sub {
        line-height: 1.53;
        font-size: 16px;

        @include on-mobile {
          text-align: left;
        }
      }

      @include on-mobile {
        max-width: 100%;
      }
    }

    &__img {
      max-width: 110px;

      @include on-tablet {
        max-width: 80px;
      }
    }
  }
}
